
/*reset重置样式*/
html,body{height: 100%; overflow: hidden}
html,body,h1,h2,h3,h4,h5,h6,p,ul,li{margin: 0px;padding: 0px;font: 14px "微软雅黑";}
a{text-decoration: none;display: block;}
li{list-style: none;}
img{display: block;}
/*公共样式*/
.common-title{
    color:#009ee0;
    font-size:80px;
    line-height:0.8;
    font-weight:bold;
    letter-spacing:-5px;
}

.commonText{
    color:white;
    line-height:1.5;
    font-size:15px;
}

/*清除浮动*/
.clearfix{*zoom: 1;}
.clearfix:after{content: "";display: block;clear: both;}

/*选择器是从右向左解析的，这样效率更高
选择器是有开销的，不同选择器的开销不同

结论：选择器一般3-4个最好
*/

/*头部样式*/
#wrap{
    position: relative;
    height: 100%;
}
.header{
    height: 80px;
    position: relative;

}
.header-main{
    height: 80px;
    width: 1100px;
    margin: 0 auto;
}
.logo{
    margin-top: 15px;
}
.logo,.music-icon{
    float: left;
}
.music-icon{
    margin-top: 50px;
}
.nav{
    float: right;
    margin-top: 50px;
}
.nav li{
    position: relative;
    float: left;
    margin-left: 40px;
    cursor: pointer;

}
.nav li:nth-child(1){
    width: 18px;
}
.nav li:hover .down{
    width: 100%;
}
.nav li .up{
    color: red;
}
.nav li .down{
    position: absolute;
    left: 0;
    top: 0;
    /*隐藏方式一定要注意   ********/
    width: 0;
    overflow: hidden;
    transition:width 1s;
}
.arrow{
    position: absolute;
    left: 50%;
    bottom: -11px;
    width: 21px;
    height: 11px;
    transition:left 1s;
    z-index: 5;
    background-image: url("../img/arrow.png");
}
.content{
    position: absolute;
    top: 80px;
    bottom: 0px;
    left: 0;
    right: 0;
    background: skyblue;
    overflow: hidden;
}
.content-main{
    position: absolute;
    left: 0;
    top: 0;/*为了让第一次有过度效果*/
    width: 100%;
    height: 500%;
    transition: top 1s;
}
.content-main>li{
    position: relative;
    height: 20%;
}
.content-main>li:nth-child(1){
    background-image: url("../img/bg1.jpg");
}
.content-main>li:nth-child(2){
    background-image: url("../img/bg2.jpg");
}
.content-main>li:nth-child(3){
    background-image: url("../img/bg3.jpg");
}
.content-main>li:nth-child(4){
    background-image: url("../img/bg4.jpg");
}
.content-main>li:nth-child(5){
    background-image: url("../img/bg5.jpg");
}

.content-main section{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -550px;
    margin-top: -260px;
    width: 1100px;
    height: 520px;
}
/*第一屏操作*/
.home-carousel{
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    perspective: 1000px;

}
.home-carousel li{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
    text-align: center;
    line-height: 520px;
    visibility: hidden;
}
.home-carousel .active{
    visibility: visible;
}
.home-carousel li:nth-child(1){
    background:#dc6c5f;
}
.home-carousel li:nth-child(2){
    background:#95dc84;
}
.home-carousel li:nth-child(3){
    background:#64b9d2;
}
.home-carousel li:nth-child(4){
    background:#000000;
}
.home-point{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.home-point li{
    float: left;
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,0.5);
    margin: 2px;
    box-shadow: 0 0 4px rgba(25,25,25,0.8);
    border-radius: 50%;
}
.home-point .active{
    background: rgba(255,255,255,1);
}
.home-carousel .leftHide{
    visibility: hidden;
    animation: leftHide 2s linear;
}
.home-carousel .rightShow{
    visibility: visible;
    animation: rightShow 2s linear;
}
.home-carousel .leftShow{
    visibility: visible;
    animation: leftShow 2s linear;
}
.home-carousel .rightHide{
    visibility: hidden;
    animation: rightHide 2s linear;
}
/*第二屏*/
.commonText{ color:white; line-height:1.5; font-size:15px;}





@keyframes leftHide {
    0%{visibility:visible}
    50%{transform: translateX(-40%) rotateY(30deg) scale(0.8)}
    100%{transform: translateZ(-200px);visibility: hidden}
}
@keyframes rightShow {
    0%{visibility:hidden;transform: translateZ(-200px);}
    50%{transform: translateX(40%) rotateY(-30deg) scale(0.8)}
    100%{visibility: visible}
}
@keyframes leftShow {
    0%{transform: translateZ(-200px);visibility: hidden}
    50%{transform: translateX(-40%) rotateY(30deg) scale(0.8)}
    100%{visibility: visible}
}
@keyframes rightHide {
    0%{visibility:visible}
    50%{transform: translateX(40%) rotateY(-30deg) scale(0.8)}
    100%{visibility:hidden;transform: translateZ(-200px);}
}

/*第二屏样式*/
.course-title{
    margin: 50px;
}
.course-content{
    width: 400px;
    margin-left: 50px;
}
.course-lists{
    width: 480px;
    position: absolute;
    right: 50px;
    top: 70px;
}
.course-lists li{
    position: relative;
    float: left;
    width: 120px;
    height: 132px;
}
.course-lists .back{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    
    background: #009ee0;
    padding: 15px;
    box-sizing: border-box;
    transform: rotateY(180deg);
    transition: transform 1s;
    backface-visibility: hidden;
}
.course-lists .front{
    height: 100%;
    background-image: url(../img/pcwelt.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 1s;
}
.course-lists li:hover .front{
    transform: rotateY(180deg);
}
.course-lists li:hover .back{
    transform: rotateY(360deg);
}
.course-line li{
    position: absolute;
    top: -5px;
    width: 9px;
    height: 410px;
    background-image: url("../img/plus_row.png");
    background-repeat: no-repeat;
    
}
.course-line li:nth-child(1){left: -6px;}
.course-line li:nth-child(2){left: 114px;}
.course-line li:nth-child(3){left: 234px;}
.course-line li:nth-child(4){left: 354px;}
.course-line li:nth-child(5){left: 474px;}

/*定义第三屏样式*/
.Works-title{
    margin: 50px 0 100px 50px;
}
.Works-list{
    margin-left: 50px;
    
}
.Works-list li{
    position: relative;
    width: 220px;
    height: 133px;
    margin: 0 1px;
    float: left;
    overflow: hidden;
}
.Works-list li:nth-child(4){
    width: 332px;
}
.Works-list .mask{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background:rgba(25,25,25,0.8);
    padding: 10px;
    color: white;
    box-sizing: border-box;
    opacity: 0;
    transition:opacity 1s;
}
.Works-list .icon{
    width: 32px;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: url("../img/zoomico.png");
    background-repeat: no-repeat;
    transition:background-position 1s;
    
}
.Works-list li img{
    transition:transform 1s;
}
.Works-list li:hover .mask{
    opacity: 1;
}
.Works-list li:hover .icon{
    background-position:0 -35px;
}
.Works-list li:hover img{
    transform: rotate(30deg) scale(1.5);
}

.Works-robot{
    width: 167px;
    height: 191px;
    position: absolute;
    left: 900px;
    top: 170px;
  background-image: url("../img/robot.png");
  background-repeat: no-repeat;
  animation:robotMove 5s infinite linear;
}

@keyframes robotMove {
  0%{}
  49%{transform:translateX(-400px)}
  50%{transform:translateX(-400px) rotateY(180deg)}
  100%{transform:rotateY(180deg)}
}

/*机器人:*/
/*宽 167 ; 高 191*/
/*参照于主体内容区定位,左部偏移量900 上部偏移量170*/

